server:
  port: 8080
  servlet:
    context-path: /community

spring:
  thymeleaf:
    cache: false


  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/community?characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    username: root
    password: root
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      maximum-pool-size: 15
      minimum-idle: 5
      idle-timeout: 30000
  #MailProperties
  mail:
    host: smtp.sina.com
    port: 465
    username: lilinqingyu@sina.com
    password: 65d4417d036064c7
    protocol: smtps
    properties.mail.smtp.ssl.enable: true
  jackson:
    time-zone: GMT+8


mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.lqy.community.entity
  configuration:
    use-generated-keys: true
    map-underscore-to-camel-case: true

#logging:
#  level:
#    com.lqy.community: debug
community:
  path:
    domain: http://localhost:8080
    #文件上传路径
    upload: d:/IDEA java/data/upload


